@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin container {
  max-width: 1300px;
  margin: 0 auto;

  @media screen and (max-width: 1320px) {
    padding: 0 1.2rem;
  }
}

@mixin section-height {
  height: calc(100vh - 9rem);
}
