// Colors
$primary: #3083dc;
$secondary: #4e4187;
$off-white: #f8ffe5;
$gradient: linear-gradient(90deg, #3083dc 0%, #4e4187 50%, #bd00ff 100%);

// Grid
$grid-width: 130rem;
$gutter-vertical: 6.5rem;
$gutter-horizontal: 5rem;

// Transistions
$transition: all ease-in-out 0.2s;
