.card {
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 52rem;

  // Funcionality
  &__side {
    position: absolute;
    left: 0;
    top: 0;
    height: 52rem;
    width: 100%;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    border-radius: 2rem;
    box-shadow: 0 1.5rem 4rem rgba(#000000, 0.1);
    overflow: hidden;

    &--front {
      background-color: #363636;
    }

    &--back {
      transform: rotateY(180deg);
    }
  }

  @media (min-width: 991px) {
    &:hover &__side--front {
      transform: rotateY(-180deg);
    }

    &:hover &__side--back {
      transform: rotateY(0);
    }
  }

  // Front side
  &__picture {
    height: 26rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__details {
    padding: 3rem;
    color: #cccccc;

    h3 {
      font-size: 2.8rem;
      font-weight: 500;
      margin-bottom: 1.7rem;
    }

    p {
      font-size: 1.8rem;
      font-weight: 300;
      margin-bottom: 1.2rem;
    }

    small {
      font-size: 1.4rem;
      font-weight: 300;

      strong {
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
  }

  // Back side
  &__layout {
    max-height: 100%;
    overflow: auto;

    @media (max-width: 991px) {
      pointer-events: none;
    }

    &::-webkit-scrollbar-track {
      background-color: #eeeeee;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #cccccc;
    }
  }
}
